<div id="company" class="page-layout carded fullwidth inner-scroll">
    <div class="top-bg accent"></div>
    <div class="center">
        <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center">
            <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16">
                    business
                </mat-icon>
                <span class="logo-text h1">
                    Parola Değiştir
                </span>
            </div>
        </div>
        <div class="content-card">
            <form #passwordForm="ngForm" (ngSubmit)="onSubmit()">        
                <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="80">
                        <mat-label>Parola</mat-label>
                        <input name="password"
                        matInput [(ngModel)]="model.oldPassword"
                        placeholder="Parola" 
                        #password="ngModel"
            
                        type="password"
                        required>
                        <mat-error *ngIf="password.hasError('required')">
                            Parola gerekli
                        </mat-error>
                    </mat-form-field>
                    <br>
                </div>        
                <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="80">
                        <mat-label>Yeni Parola</mat-label>
                        <input name="newPassword"
                            matInput [(ngModel)]="model.newPassword"
                             placeholder="Yeni Parola" 
                             #newPassword="ngModel"
                             type="password"
                             pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" 
                            required>
                        <mat-error *ngIf="newPassword.hasError('required')">
                                Parola gerekli
                        </mat-error>
                        <mat-error *ngIf="newPassword.hasError('pattern')">
                                Parola standartlara uymalıdır(En az 6 karekter,bir sayı,bir büyük,bir küçük harf içermelidir)
                        </mat-error>
                    </mat-form-field>
                    <br>
                </div>
                <div fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start">
                    <mat-form-field appearance="outline" fxFlex="100" fxFlex.gt-sm="80">
                        <mat-label>Yeni Parola doğrulayın</mat-label>
                        <input name="confirmPassword"
                        matInput type="password" id="confirmPassword" name="confirmPassword"
                        type="password"
                        placeholder="Şifre (Doğrula)"
                        required 
                        ngModel
                        #confirmPassword="ngModel"
                        pattern="{{newPassword.value}}"
                        >
                            <mat-error *ngIf="confirmPassword.hasError('required')">
                                    Parola doğrulaması gerekli
                            </mat-error>
                            <mat-error *ngIf="confirmPassword.hasError('pattern')">
                                    Parola uyuşmuyor :(
                            </mat-error>
                    </mat-form-field>
                    <br>
                </div>          
                <div mat-dialog-actions>
                    <button mat-button color="primary">İptal</button>
                    <button mat-raised-button color="accent" type="submit" [disabled]="!passwordForm.valid ||isSubmiting===true">Kaydet</button>
                </div>
            </form>
        </div>
    </div>
</div>