@mixin mirapi-widget-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    mirapi-widget {

        > .mirapi-widget-front,
        > .mirapi-widget-back {
            background: map-get($background, card);
            border-color: map-get($foreground, divider);
        }
    }
}