<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="65">

        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent">
                <div class="title">Genel Bilgiler</div>
            </header>

            <div class="content" layout="column">

                
                        <mat-form-field appearance="outline" floatLabel="always"  class="w-80-p">
                                        <mat-label>Ad</mat-label>
                                    <input
                                        matInput
                                        name="name"
                                        disabled="{{!isEditing}}"
                                        [(ngModel)]="user.Name"
                                        placeholder="Adınız"
                                        required
                                    />
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always"  class="w-80-p">
                                        <mat-label>Soyad</mat-label>
                                    <input
                                        matInput
                                        name="surname"
                                        disabled="{{!isEditing}}"
                                        [(ngModel)]="user.Surname"
                                        placeholder="Soyadınız"
                                        required
                                    />
                        </mat-form-field>
                        <mat-form-field appearance="outline" floatLabel="always"  class="w-80-p">
                            <mat-label>Email</mat-label>
                        <input
                            matInput
                            name="email"
                            disabled="true"
                            [(ngModel)]="user.Email"
                            placeholder="Email"
                            required
                        />
            </mat-form-field>

                        <div  style="padding-left: 10px;  padding-bottom: 30px;" appearance="outline" floatLabel="always"  class="w-80-p mat-form-field ng-tns-c40-22 mat-primary mat-form-field-type-mat-input mat-form-field-appearance-legacy mat-form-field-can-float mat-form-field-should-float mat-form-field-hide-placeholder" >
                            Erkek
                            <mat-slide-toggle  disabled="{{!isEditing}}"     [(ngModel)]="user.IsFemale"  [checked]="user.IsFemale" ></mat-slide-toggle>
                           Kadın 
                        </div>
                        
                          
                                                    

                   



   
                    <mat-form-field appearance="outline" floatLabel="always"  class="w-80-p">
                         <mat-label>Doğum Tarihi</mat-label>
                            <input [disabled]="!isEditing"  matInput [matDatepicker]="picker" placeholder="Bir tarih seçin" [(ngModel)]="user.Birthday">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                 </mat-form-field>    
  

                <mat-form-field appearance="outline" floatLabel="always"  class="w-80-p">
                            <mat-label>Hakkımda</mat-label>
                            <textarea [disabled]="!isEditing"
                                      name="about"
                                      matInput 
                                      placeholder="Hakkınızda bir şeyler girin"
                                    [(ngModel)]="user.About">
                            </textarea>
                </mat-form-field>
            </div>

        </div>

     <div class="profile-box info-box work" fxLayout="column">

            <header class="accent">
                <div class="title">Araç</div>
            </header>

            <div class="content">

                        <mat-form-field *ngIf="user.car" appearance="outline" floatLabel="always"  class="w-80-p">
                                        <mat-label>Araç</mat-label>
                                    <input 
                                        matInput
                                        name="arac"
                                        disabled="{{!isEditing}}"
                                        [(ngModel)]="user.car.name"
                                        placeholder="Model"
                                        required
                                    />
                        </mat-form-field>

                        <div >
                            <button mat-raised-button  (click)="selectCar()" color="accent" aria-label="Save">Araç Seç</button>
                       </div>

            </div>
        </div>

        <div class="profile-box info-box contact" fxLayout="column">

            <header class="accent">
                <div class="title">İletişim</div>
            </header>

            <div class="content">

                        <mat-form-field appearance="outline" floatLabel="always"  class="w-80-p">
                                        <mat-label>Adres</mat-label>
                                 <textarea [disabled]="!isEditing"
                                        name="address"
                                        matInput 
                                        placeholder="Açık adresiniz"
                                      [(ngModel)]="user.Address">
                              </textarea>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always"  class="w-80-p">
                                        <mat-label>Telefon</mat-label>
                                        <input
                                        matInput
                                        type="number"
                                        name="telefon"
                                        disabled="{{!isEditing}}"
                                        [(ngModel)]="user.Phone"
                                        placeholder="Telefon"
                                        
                                    />
                        </mat-form-field>

            </div>
        </div>

    </div>
    <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="30" fxFlex.gt-md="35">

       
        <diV *ngIf="user.Id == userLoggedIn.Id" class="content">
                                 
         <div  [hidden]="isEditing" >
           <button mat-raised-button [hidden]="!isEditing" (click)="edit()" color="primary" aria-label="Send Message">Düzenle</button>
         </div>                             
         
         <div  [hidden]="!isEditing" >
              <button mat-raised-button [hidden]="isEditing" (click)="save()" color="accent" aria-label="Save">Kaydet</button>
         </div>
                                       
      </diV>
       
 </div>

</div>
