<div class="navbar-header" [ngClass]="mirapiConfig.layout.navbar.secondaryBackground">

    <div class="logo">
        <img class="logo-icon" src="assets/images/logos/mirapi.svg">
        <span class="logo-text">mirapi</span>
    </div>

    <button mat-icon-button class="toggle-sidebar-folded"
            (click)="toggleSidebarFolded()" fxHide.lt-lg>
        <mat-icon>menu</mat-icon>
    </button>

    <button mat-icon-button class="toggle-sidebar-opened"
            (click)="toggleSidebarOpened()" fxHide.gt-md>
        <mat-icon>arrow_back</mat-icon>
    </button>

</div>

<div class="navbar-content" mirapiPerfectScrollbar [mirapiPerfectScrollbarOptions]="{suppressScrollX: true}"
     [ngClass]="mirapiConfig.layout.navbar.primaryBackground">
    <mirapi-navigation layout="vertical"></mirapi-navigation>
</div>