<div class="page-layout blank p-24" fusePerfectScrollbar>


    <div class="row question-filter" id="question_filter">
        <div class="col-md-6 col-xs-6 sort-questions">
            <ul>
                <li>
                    <a class="active" href="https://qaengine.enginethemes.com/page/2/">
                        Latest                        </a>
                </li>
                <li>                    	
                    <a class="" href="https://qaengine.enginethemes.com/?sort=vote">Votes</a>
                </li>
                <li>
                    <a class="" href="https://qaengine.enginethemes.com/?sort=unanswer">Unanswered</a>
                                        </li>
                                </ul>
        </div>
        <div class="col-md-6 col-xs-6">
            <div class="number-of-questions-wrapper">
                <span class="number-of-questions-text">Questions Per Page: </span>
                 <div class="number-of-questions">
                    <select id="filter-numbers" class="select-grey-bg chosen-select" style="display: none;">
                                                    <option value="https://qaengine.enginethemes.com/page/2/?numbers=20">20</option>
                                                    <option value="https://qaengine.enginethemes.com/page/2/?numbers=15">15</option>
                                                    <option selected="" value="https://qaengine.enginethemes.com/page/2/?numbers=12">12</option>
                                                    <option value="https://qaengine.enginethemes.com/page/2/?numbers=10">10</option>
                                                    <option value="https://qaengine.enginethemes.com/page/2/?numbers=5">5</option>
                                                </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 80px;" title="" id="filter_numbers_chosen"><a class="chosen-single" tabindex="-1"><span>12</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-questions-list">
        <ul id="main_questions_list">
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="question-item post-53 question type-question status-publish hentry question_category-technology qa_tag-facebook qa_tag-social qa_tag-technology-2 qa_tag-twiter qa_tag-web" data-id="53">
<div itemprop="item" itemscope="" itemtype="http://schema.org/Question">
    <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
            <h2 itemprop="name">
                <a itemprop="url" href="https://qaengine.enginethemes.com/blog/question/what-will-be-the-next-big-thing-after-facebook-and-twitter/" class="question-title">What will be the next big thing after Facebook and Twitter?</a>
            </h2>
        </div>
        <div class="q-lbtm-content">
            <div itemprop="text" class="question-excerpt">
                <p>Why?..And How Soon Do You Think It Will Be? In other words, what will be the next big thing in …</p>
            </div>
            <div class="question-cat">
                <ul class="question-tags">
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/facebook/ ">
                                facebook                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/social/ ">
                                social                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/technology-2/ ">
                                technology                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/twiter/ ">
                                twiter                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/web/ ">
                                web                                </a>
                        </li>
                                        </ul>
                <div class="clearfix"></div>
                <a itemprop="author" itemscope="" itemtype="http://schema.org/Person" href="https://qaengine.enginethemes.com/blog/member/alex/">
                <span class="author-avatar">
                    <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/128323.jpg" class="avatar" alt="">                    </span>
                    <span itemprop="name" class="author-name">Alex</span>
                </a>
                <span title="525" class="user-badge" style="background-color:#ffbf00;">Vice Professor</span>                    <span itemprop="dateCreated" datetime="on June 5, 2014" class="question-time">
                Asked on June 5, 2014 in                </span>
                <span class="question-category">
                                <a href="https://qaengine.enginethemes.com/blog/question-category/technology/">Technology.</a>
                            </span>                </div>
        </div>
    </div><!-- end left content -->
    <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
            <li>
            <span class="question-views">
                24                </span>
                views                </li>
            <li class="active">
            <span itemprop="answerCount" class="question-answers">
                1                </span>
                answers                </li>
            <li>
            <span itemprop="upvoteCount" class="question-votes">
                0                </span>
                votes                </li>
        </ul>
        <div class="pumping">
                        </div>
    </div><!-- end right content -->
    <div class="clearfix"></div>
</div>
</li><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="question-item post-51 question type-question status-publish hentry question_category-technology qa_tag-applications qa_tag-glass qa_tag-google qa_tag-google-glass qa_tag-technology-2" data-id="51">
<div itemprop="item" itemscope="" itemtype="http://schema.org/Question">
    <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
            <h2 itemprop="name">
                <a itemprop="url" href="https://qaengine.enginethemes.com/blog/question/how-to-type-characters-in-google-glass/" class="question-title">How to type characters in Google Glass?</a>
            </h2>
        </div>
        <div class="q-lbtm-content">
            <div itemprop="text" class="question-excerpt">
                <p>In my Glass application, I have created a preference fragment for users to enter some important information such as name, …</p>
            </div>
            <div class="question-cat">
                <ul class="question-tags">
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/applications/ ">
                                applications                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/glass/ ">
                                glass                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/google/ ">
                                google                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/google-glass/ ">
                                google glass                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/technology-2/ ">
                                technology                                </a>
                        </li>
                                        </ul>
                <div class="clearfix"></div>
                <a itemprop="author" itemscope="" itemtype="http://schema.org/Person" href="https://qaengine.enginethemes.com/blog/member/alex/">
                <span class="author-avatar">
                    <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/128323.jpg" class="avatar" alt="">                    </span>
                    <span itemprop="name" class="author-name">Alex</span>
                </a>
                <span title="525" class="user-badge" style="background-color:#ffbf00;">Vice Professor</span>                    <span itemprop="dateCreated" datetime="on June 5, 2014" class="question-time">
                Asked on June 5, 2014 in                </span>
                <span class="question-category">
                                <a href="https://qaengine.enginethemes.com/blog/question-category/technology/">Technology.</a>
                            </span>                </div>
        </div>
    </div><!-- end left content -->
    <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
            <li>
            <span class="question-views">
                18                </span>
                views                </li>
            <li class="">
            <span itemprop="answerCount" class="question-answers">
                0                </span>
                answers                </li>
            <li>
            <span itemprop="upvoteCount" class="question-votes">
                0                </span>
                votes                </li>
        </ul>
        <div class="pumping">
                        </div>
    </div><!-- end right content -->
    <div class="clearfix"></div>
</div>
</li><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="question-item post-49 question type-question status-publish hentry question_category-business qa_tag-billionaire qa_tag-business-2 qa_tag-marketing-2 qa_tag-paranoid qa_tag-steal" data-id="49">
<div itemprop="item" itemscope="" itemtype="http://schema.org/Question">
    <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
            <h2 itemprop="name">
                <a itemprop="url" href="https://qaengine.enginethemes.com/blog/question/what-is-it-like-to-be-a-billionaire/" class="question-title">What is it like to be a billionaire?</a>
            </h2>
        </div>
        <div class="q-lbtm-content">
            <div itemprop="text" class="question-excerpt">
                <p>It is a pain in the neck.&nbsp;Thousands of people depend on me.I can not take a day off&nbsp;and just forget …</p>
            </div>
            <div class="question-cat">
                <ul class="question-tags">
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/billionaire/ ">
                                billionaire                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/business-2/ ">
                                business                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/marketing-2/ ">
                                marketing                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/paranoid/ ">
                                paranoid                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/steal/ ">
                                steal                                </a>
                        </li>
                                        </ul>
                <div class="clearfix"></div>
                <a itemprop="author" itemscope="" itemtype="http://schema.org/Person" href="https://qaengine.enginethemes.com/blog/member/admin/">
                <span class="author-avatar">
                    <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/12.jpg" class="avatar" alt="">                    </span>
                    <span itemprop="name" class="author-name">admin</span>
                </a>
                <span title="1529" class="user-badge" style="background-color:#780978;">Professor</span>                    <span itemprop="dateCreated" datetime="on June 5, 2014" class="question-time">
                Asked on June 5, 2014 in                </span>
                <span class="question-category">
                                <a href="https://qaengine.enginethemes.com/blog/question-category/business/">Business.</a>
                            </span>                </div>
        </div>
    </div><!-- end left content -->
    <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
            <li>
            <span class="question-views">
                21                </span>
                views                </li>
            <li class="">
            <span itemprop="answerCount" class="question-answers">
                2                </span>
                answers                </li>
            <li>
            <span itemprop="upvoteCount" class="question-votes">
                0                </span>
                votes                </li>
        </ul>
        <div class="pumping">
                        </div>
    </div><!-- end right content -->
    <div class="clearfix"></div>
</div>
</li><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="question-item post-42 question type-question status-publish hentry question_category-design qa_tag-designer qa_tag-illustrator qa_tag-photoshop qa_tag-school qa_tag-work" data-id="42">
<div itemprop="item" itemscope="" itemtype="http://schema.org/Question">
    <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
            <h2 itemprop="name">
                <a itemprop="url" href="https://qaengine.enginethemes.com/blog/question/how-do-you-get-a-job-as-a-designer-without-going-to-design-school/" class="question-title">How do you get a job as a designer without going to design school?</a>
            </h2>
        </div>
        <div class="q-lbtm-content">
            <div itemprop="text" class="question-excerpt">
                <p>The biggest mistake is jumping into Photoshop too fast. Learning Photoshop does not make you a designer, just like buying …</p>
            </div>
            <div class="question-cat">
                <ul class="question-tags">
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/designer/ ">
                                designer                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/illustrator/ ">
                                Illustrator                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/photoshop/ ">
                                photoshop                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/school/ ">
                                school                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/work/ ">
                                work                                </a>
                        </li>
                                        </ul>
                <div class="clearfix"></div>
                <a itemprop="author" itemscope="" itemtype="http://schema.org/Person" href="https://qaengine.enginethemes.com/blog/member/admin/">
                <span class="author-avatar">
                    <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/12.jpg" class="avatar" alt="">                    </span>
                    <span itemprop="name" class="author-name">admin</span>
                </a>
                <span title="1529" class="user-badge" style="background-color:#780978;">Professor</span>                    <span itemprop="dateCreated" datetime="on June 5, 2014" class="question-time">
                Asked on June 5, 2014 in                </span>
                <span class="question-category">
                                <a href="https://qaengine.enginethemes.com/blog/question-category/design/">Design.</a>
                            </span>                </div>
        </div>
    </div><!-- end left content -->
    <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
            <li>
            <span class="question-views">
                27                </span>
                views                </li>
            <li class="">
            <span itemprop="answerCount" class="question-answers">
                1                </span>
                answers                </li>
            <li>
            <span itemprop="upvoteCount" class="question-votes">
                0                </span>
                votes                </li>
        </ul>
        <div class="pumping">
                        </div>
    </div><!-- end right content -->
    <div class="clearfix"></div>
</div>
</li><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="question-item post-36 question type-question status-publish hentry question_category-movie qa_tag-car-2 qa_tag-commercial qa_tag-lamborghini qa_tag-movie-2 qa_tag-tv" data-id="36">
<div itemprop="item" itemscope="" itemtype="http://schema.org/Question">
    <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
            <h2 itemprop="name">
                <a itemprop="url" href="https://qaengine.enginethemes.com/blog/question/whats-the-most-powerfulinspirational-quote-youve-ever-heard/" class="question-title">What’s the most powerful/inspirational quote you’ve ever heard?</a>
            </h2>
        </div>
        <div class="q-lbtm-content">
            <div itemprop="text" class="question-excerpt">
                <p>Why haven’t you ever seen a Lamborghini commercial before? Because the people who can afford a Lamborghini aren’t sitting around …</p>
            </div>
            <div class="question-cat">
                <ul class="question-tags">
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/car-2/ ">
                                car                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/commercial/ ">
                                commercial                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/lamborghini/ ">
                                lamborghini                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/movie-2/ ">
                                movie                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/tv/ ">
                                tv                                </a>
                        </li>
                                        </ul>
                <div class="clearfix"></div>
                <a itemprop="author" itemscope="" itemtype="http://schema.org/Person" href="https://qaengine.enginethemes.com/blog/member/alex/">
                <span class="author-avatar">
                    <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/128323.jpg" class="avatar" alt="">                    </span>
                    <span itemprop="name" class="author-name">Alex</span>
                </a>
                <span title="525" class="user-badge" style="background-color:#ffbf00;">Vice Professor</span>                    <span itemprop="dateCreated" datetime="on June 5, 2014" class="question-time">
                Asked on June 5, 2014 in                </span>
                <span class="question-category">
                                <a href="https://qaengine.enginethemes.com/blog/question-category/movie/">Movie.</a>
                            </span>                </div>
        </div>
    </div><!-- end left content -->
    <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
            <li>
            <span class="question-views">
                15                </span>
                views                </li>
            <li class="active">
            <span itemprop="answerCount" class="question-answers">
                1                </span>
                answers                </li>
            <li>
            <span itemprop="upvoteCount" class="question-votes">
                0                </span>
                votes                </li>
        </ul>
        <div class="pumping">
                        </div>
    </div><!-- end right content -->
    <div class="clearfix"></div>
</div>
</li><li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="question-item post-33 question type-question status-publish hentry question_category-movie qa_tag-baffled qa_tag-follow qa_tag-movie-2 qa_tag-relax" data-id="33">
<div itemprop="item" itemscope="" itemtype="http://schema.org/Question">
    <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
            <h2 itemprop="name">
                <a itemprop="url" href="https://qaengine.enginethemes.com/blog/question/which-movie-has-the-most-unpredictable-ending/" class="question-title">Which movie has the most unpredictable ending?</a>
            </h2>
        </div>
        <div class="q-lbtm-content">
            <div itemprop="text" class="question-excerpt">
                <p>If you follow the entire movie, the end leaves you even more baffled, and reconsidering what you had thought in …</p>
            </div>
            <div class="question-cat">
                <ul class="question-tags">
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/baffled/ ">
                                baffled                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/follow/ ">
                                follow                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/movie-2/ ">
                                movie                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/relax/ ">
                                relax                                </a>
                        </li>
                                        </ul>
                <div class="clearfix"></div>
                <a itemprop="author" itemscope="" itemtype="http://schema.org/Person" href="https://qaengine.enginethemes.com/blog/member/admin/">
                <span class="author-avatar">
                    <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/12.jpg" class="avatar" alt="">                    </span>
                    <span itemprop="name" class="author-name">admin</span>
                </a>
                <span title="1529" class="user-badge" style="background-color:#780978;">Professor</span>                    <span itemprop="dateCreated" datetime="on June 5, 2014" class="question-time">
                Asked on June 5, 2014 in                </span>
                <span class="question-category">
                                <a href="https://qaengine.enginethemes.com/blog/question-category/movie/">Movie.</a>
                            </span>                </div>
        </div>
    </div><!-- end left content -->
    <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
            <li>
            <span class="question-views">
                64                </span>
                views                </li>
            <li class="active">
            <span itemprop="answerCount" class="question-answers">
                1                </span>
                answers                </li>
            <li>
            <span itemprop="upvoteCount" class="question-votes">
                0                </span>
                votes                </li>
        </ul>
        <div class="pumping">
                        </div>
    </div><!-- end right content -->
    <div class="clearfix"></div>
</div>
</li>            </ul>
    </div>

    <div class="row paginations home">
        <div class="col-md-12">
            <ul class="page-numbers">
<li><span class="page-numbers current">1</span></li>
<li><a class="page-numbers" href="https://qaengine.enginethemes.com/?page=2">2</a></li>
<li><a class="next page-numbers" href="https://qaengine.enginethemes.com/?page=2">&gt;</a></li>
</ul>
        </div>
    </div>
    
</div>
