<div class="page-layout blank p-24" fusePerfectScrollbar>


    
    <div class="row question-filter" id="question_filter">
        <div class="col-md-6 col-xs-6 sort-questions">
            <ul>
                <li>
                    <a class="active" href="https://qaengine.enginethemes.com/page/2/">
                        Latest                        </a>
                </li>
                <li>                    	
                    <a class="" href="https://qaengine.enginethemes.com/?sort=vote">Votes</a>
                </li>
                <li>
                    <a class="" href="https://qaengine.enginethemes.com/?sort=unanswer">Unanswered</a>
                                        </li>
                                </ul>
        </div>
        <div class="col-md-6 col-xs-6">
            <div class="number-of-questions-wrapper">
                <span class="number-of-questions-text">Questions Per Page: </span>
                 <div class="number-of-questions">
                    <select id="filter-numbers" class="select-grey-bg chosen-select" style="display: none;">
                                                    <option value="https://qaengine.enginethemes.com/page/2/?numbers=20">20</option>
                                                    <option value="https://qaengine.enginethemes.com/page/2/?numbers=15">15</option>
                                                    <option selected="" value="https://qaengine.enginethemes.com/page/2/?numbers=12">12</option>
                                                    <option value="https://qaengine.enginethemes.com/page/2/?numbers=10">10</option>
                                                    <option value="https://qaengine.enginethemes.com/page/2/?numbers=5">5</option>
                                                </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" style="width: 80px;" title="" id="filter_numbers_chosen"><a class="chosen-single" tabindex="-1"><span>12</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off" readonly=""></div><ul class="chosen-results"></ul></div></div>
                </div>
            </div>
        </div>
    </div>
    <div class="main-questions-list">
        <ul id="main_questions_list">
<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="question-item post-53 question type-question status-publish hentry question_category-technology qa_tag-facebook qa_tag-social qa_tag-technology-2 qa_tag-twiter qa_tag-web" data-id="53">
<div itemprop="item" itemscope="" itemtype="http://schema.org/Question">
    <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
            <h2 itemprop="name">
                <a itemprop="url" href="https://qaengine.enginethemes.com/blog/question/what-will-be-the-next-big-thing-after-facebook-and-twitter/" class="question-title">What will be the next big thing after Facebook and Twitter?</a>
            </h2>
        </div>
        <div class="q-lbtm-content">
            <div itemprop="text" class="question-excerpt">
                <p>Why?..And How Soon Do You Think It Will Be? In other words, what will be the next big thing in …</p>
            </div>
            <div class="question-cat">
                <ul class="question-tags">
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/facebook/ ">
                                facebook                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/social/ ">
                                social                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/technology-2/ ">
                                technology                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/twiter/ ">
                                twiter                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/web/ ">
                                web                                </a>
                        </li>
                                        </ul>
                <div class="clearfix"></div>
                <a itemprop="author" itemscope="" itemtype="http://schema.org/Person" href="https://qaengine.enginethemes.com/blog/member/alex/">
                <span class="author-avatar">
                    <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/128323.jpg" class="avatar" alt="">                    </span>
                    <span itemprop="name" class="author-name">Alex</span>
                </a>
                <span title="525" class="user-badge" style="background-color:#ffbf00;">Vice Professor</span>                    <span itemprop="dateCreated" datetime="on June 5, 2014" class="question-time">
                Asked on June 5, 2014 in                </span>
                <span class="question-category">
                                <a href="https://qaengine.enginethemes.com/blog/question-category/technology/">Technology.</a>
                            </span>                </div>
        </div>
    </div><!-- end left content -->
    <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
            <li>
            <span class="question-views">
                24                </span>
                views                </li>
            <li class="active">
            <span itemprop="answerCount" class="question-answers">
                1                </span>
                answers                </li>
            <li>
            <span itemprop="upvoteCount" class="question-votes">
                0                </span>
                votes                </li>
        </ul>
        <div class="pumping">
                        </div>
    </div><!-- end right content -->
    <div class="clearfix"></div>
</div>
</li>
<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="question-item post-51 question type-question status-publish hentry question_category-technology qa_tag-applications qa_tag-glass qa_tag-google qa_tag-google-glass qa_tag-technology-2" data-id="51">
<div itemprop="item" itemscope="" itemtype="http://schema.org/Question">
    <div class="col-md-8 col-xs-8 q-left-content">
        <div class="q-ltop-content">
            <h2 itemprop="name">
                <a itemprop="url" href="https://qaengine.enginethemes.com/blog/question/how-to-type-characters-in-google-glass/" class="question-title">How to type characters in Google Glass?</a>
            </h2>
        </div>
        <div class="q-lbtm-content">
            <div itemprop="text" class="question-excerpt">
                <p>In my Glass application, I have created a preference fragment for users to enter some important information such as name, …</p>
            </div>
            <div class="question-cat">
                <ul class="question-tags">
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/applications/ ">
                                applications                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/glass/ ">
                                glass                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/google/ ">
                                google                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/google-glass/ ">
                                google glass                                </a>
                        </li>
                                                <li>
                            <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/technology-2/ ">
                                technology                                </a>
                        </li>
                                        </ul>
                <div class="clearfix"></div>
                <a itemprop="author" itemscope="" itemtype="http://schema.org/Person" href="https://qaengine.enginethemes.com/blog/member/alex/">
                <span class="author-avatar">
                    <img itemprop="image" src="https://cdn.enginethemes.com/qaengine/2015/01/128323.jpg" class="avatar" alt="">                    </span>
                    <span itemprop="name" class="author-name">Alex</span>
                </a>
                <span title="525" class="user-badge" style="background-color:#ffbf00;">Vice Professor</span>                    <span itemprop="dateCreated" datetime="on June 5, 2014" class="question-time">
                Asked on June 5, 2014 in                </span>
                <span class="question-category">
                                <a href="https://qaengine.enginethemes.com/blog/question-category/technology/">Technology.</a>
                            </span>                </div>
        </div>
    </div><!-- end left content -->
    <div class="col-md-4 col-xs-4 q-right-content">
        <ul class="question-statistic">
            <li>
            <span class="question-views">
                18                </span>
                views                </li>
            <li class="">
            <span itemprop="answerCount" class="question-answers">
                0                </span>
                answers                </li>
            <li>
            <span itemprop="upvoteCount" class="question-votes">
                0                </span>
                votes                </li>
        </ul>
        <div class="pumping">
                        </div>
    </div><!-- end right content -->
    <div class="clearfix"></div>
</div>
</li>
          </ul>
    </div>

    <div class="row paginations home">
        <div class="col-md-12">
            <ul class="page-numbers">
<li><span class="page-numbers current">1</span></li>
<li><a class="page-numbers" href="https://qaengine.enginethemes.com/?page=2">2</a></li>
<li><a class="next page-numbers" href="https://qaengine.enginethemes.com/?page=2">&gt;</a></li>
</ul>
        </div>
    </div>
    
</div>
