
<div id="forms" class="page-layout simple " fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">home</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text">User Interface</span>
            </div>
            <div class="h1 mt-16">Son Paylaşımlar</div>
        </div>
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
 <div class="content ">




    <div class="w-50">

        <div class="p-24 "  fxLayout="column" fxLayoutAlign="center stretch" >      

            <div class="mat-card p-24 px-24 mb-24"  [routerLink]="'/questions/'+item.Id"   *ngFor="let item of posts" fxLayout="row" fxLayoutAlign="start"fxFlex="1 0" >

                <div fxLayout="column" class="w-70-p" fxLayoutAlign="center stretch" >

                    <div class="h2 mb-24 border-bottom">{{item.title}}</div>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <p class="pt-16 ">
                        {{item.message}}
                        </p>
                    </div>
                    <div>
                        <mat-chip-list >
                            <mat-chip class="green-50-bg" [removable]="false">
                                <mat-icon >blur_on</mat-icon>
                                Aksesuar
                            </mat-chip>

                            <mat-chip class="cyan-100-bg" [removable]="false">
                                <mat-icon >brightness_5</mat-icon>
                                Motor
                            </mat-chip>
                        </mat-chip-list>

                    </div>
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <mat-icon >person</mat-icon>
                        <div>
                            <p class="pt-16 ">
                            {{item.user.Name}}
                             </p>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" class="w-30-p" fxLayoutAlign="center center" >

                    <div class="fuse-widget-front p-12">
                        <div class="pt-8 pb-32 border-bottom" fxLayout="column" fxLayoutAlign="center center">
                            <div class="blue-800-fg font-size-72 line-height-72">
                               {{item.view}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">Görüntüleme
                            </div>
                        </div>
                    </div>
                    <div class="fuse-widget-front p-12">
                        <div class="pt-8 pb-32 border-bottom" fxLayout="column" fxLayoutAlign="center center">
                            <div class="grey-700-fg font-size-72 line-height-72">
                                {{item.answer}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">Cevap
                            </div>
                        </div>
                    </div>
                    <div class="fuse-widget-front p-12">
                        <div class="pt-8 pb-32 border-bottom" fxLayout="column" fxLayoutAlign="center center">
                            <div class="orange-800-fg font-size-72 line-height-72">
                                {{item.vote}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">Oy
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>

        </div>
    </div>


 </div>
    <!-- / CONTENT -->

</div>


