
<div id="forms" class="page-layout simple " fxLayout="column">

    <!-- HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="space-between none">

        <div fxLayout="column" fxLayoutAlign="center start">

            <div class="h1 mt-16">Son Paylaşımlar</div>
        </div>

        
         <!-- SEARCH -->
         <div class="search-wrapper mx-32 mx-md-0">
            <div  class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>search</mat-icon>
                <input (keyup.enter)="search()" #filter [(ngModel)]="searchText"  placeholder="Neyi merak etmiştin?">
            </div>
        </div>
        <!-- / SEARCH -->

    <div  *ngIf="!isLoggedIn" class="pr-40" >
        <button [routerLink]="['/auth/login']"   mat-raised-button="" 
        class="mat-focus-indicator add-product-button mirapi-white mt-24 mt-md-0 ng-tns-c306-32 mat-raised-button mat-button-base" 
        tabindex="0"><span class="mat-button-wrapper">
           
            <span>Sormak için giriş yap</span></span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div></button>
    </div>

        <div *ngIf="isLoggedIn" class="pr-40" >
            <button mat-raised-button   [routerLink]="'/new-questions'" routerLinkActive="router-link-active"  class="warn-A200-fg" >
                <mat-icon>add</mat-icon>
                <span>Bir soru sor</span></button>
        </div>
       
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
 <div  class="content " fxLayout="row" fxLayoutAlign="center none"  >


    <div class="left-sidebar" class="p-16" fxFlex="15" fxLayout="column" fxLayoutAlign="start none" >


        <button [routerLink]="['/auth/login']" class="action ask-question" *ngIf="!isLoggedIn"  mat-raised-button="" 
        color="accent"
        class="mat-focus-indicator add-product-button mirapi-white mt-24 mt-md-0 ng-tns-c306-32 mat-raised-button mat-button-base" 
        tabindex="0"><span class="mat-button-wrapper">
            <mat-icon>add</mat-icon>
            <span>Bir soru sor</span></span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div></button>

    </div>


    <div fxFlex="70" fxLayout="column" fxLayoutAlign="start none" >      

            <div class="mat-card p-24 px-24 mb-24"    *ngFor="let item of posts" fxLayout="row" fxLayoutAlign="start" >

                <div fxLayout="column" class="w-70-p" fxLayoutAlign="center stretch" >

                    <a  [routerLink]="'/questions/'+item.Id" class="h2 mb-24 border-bottom">{{item.title}}</a>
                    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <p class="pt-16 " innerHTML="{{ (item.message.length>6)? (item.message | slice:0:200)+'..':(item.message) }}">
                        
                        </p>
                    </div>
                    <div>
                        <mat-chip-list >
                            <mat-chip class="green-50-bg" *ngFor="let tag of item.categories" [removable]="false">
                                <mat-icon>{{tag.category.iconName}}</mat-icon>
                                {{tag.category.name}}
                            </mat-chip>
                        </mat-chip-list>

                    </div>
                    <a [routerLink]="['/profile', item.user?.Id]" fxLayout="row" fxLayoutAlign="start center">
                        
                        <img  src="{{item.user.photo?.path}}" class="avatar"/>
                        <div>
                            <p class="pt-16 ">
                            {{item.user.Name}}
                             </p>
                        </div>
                    </a>
                </div>
                <div fxLayout="row" class="w-30-p" fxLayoutAlign="center center" >

                    <div class="mirapi-widget-front p-12">
                        <div class="pt-8 pb-32 border-bottom" fxLayout="column" fxLayoutAlign="center center">
                            <div class="blue-800-fg font-size-72 line-height-72">
                               {{item.view}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">Görüntüleme
                            </div>
                        </div>
                    </div>
                    <div class="mirapi-widget-front p-12">
                        <div class="pt-8 pb-32 border-bottom" fxLayout="column" fxLayoutAlign="center center">
                            <div class="grey-700-fg font-size-72 line-height-72">
                                {{item.answer}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">Cevap
                            </div>
                        </div>
                    </div>
                    <div class="mirapi-widget-front p-12">
                        <div class="pt-8 pb-32 border-bottom" fxLayout="column" fxLayoutAlign="center center">
                            <div class="orange-800-fg font-size-72 line-height-72">
                                {{item.vote}}
                            </div>
                            <div class="h3 secondary-text font-weight-500">Oy
                            </div>
                        </div>
                    </div>
                </div>
              
            </div>

    </div>

    <div class="px-4" fxFlex="15" fxLayout="column" fxLayoutAlign="start none" >
        <div class="col-md-2 disable-mobile right-sidebar">
            <ul>
                <li class="widget widget-statistic">
                <ul>
                    <li class="questions-count">
                        <p>Soru</p><p>
                        <span>{{summary?.postCount}}</span>
                    </p></li>
                    <li class="members-count">
                        <p>Üye</p><p>
                        <span>{{summary?.userCount}}</span>
                    </p></li>
                </ul>
            </li><!-- END widget-statistic -->
                <li class="widget widget-related-tags">
                <h3>En çok kullanılan anahtarlar</h3>
                <ul>
                                <li *ngFor="let item of summary?.categories">
                        <a class="q-tag" href="https://qaengine.enginethemes.com/blog/qa-tag/business-2/">{{item.name}}</a> x {{item.count}}         </li>
                 </ul>
            </li><!-- END widget-related-tags -->
                <li class="widget widget-hot-questions">
                <h3>En çok oylanan sorular</h3>
                <ul>
                                <li *ngFor="let item of summary?.mostVoted">
                        <a [routerLink]="'/questions/'+item.Id"  >
                            <span class="topic-title">{{item.title}}</span>
                        </a>
                    </li>
                               
                            </ul>
            </li><!-- END widget-related-tags -->
                <li class="widget user-widget">
                <h3 class="widgettitle">En çok soranlar</h3>
                <div class="hot-user-question">
                    <ul>
                                    <li *ngFor="let item of summary?.topUsers; let i = index">
                            <span class="number">{{i}}</span>
                            <span class="username ">
                                <a [routerLink]="['/profile', item.Id]" title="56789">
                                    {{item.name}}                    	</a>
                            </span>
                                                <span class="points-count" title="56789 Point(s)">
                                <i class="fa fa-star"></i>
                                <span>{{item.count}}</span>
                            </span>
                                            </li>
                                   
                                </ul>
                </div>
            </li>

                </ul>
        </div>
    </div>

 </div>
    <!-- / CONTENT -->

</div>


