@import "src/@mirapi/scss/mirapi";



 questions {

	#questions {


            > .header {

                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    max-height: 50px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);

                    @include media-breakpoint('xs') {
                        width: 100%;
                    }

                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;

                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }

            }
        


        .left-sidebar,
.right-sidebar,
.main-content,
.main-blog-fix {
	margin-bottom: -99999px;
	padding-bottom: 99999px !important;
}

        .right-sidebar {
            /*border-left: 1px solid #dadfea;*/
            min-height: 800px;
            padding: 0;
            background: #eef1f7;
        }
        .widget-statistic {
            /*padding: 0 20px;*/
        }
        .widget-statistic p {
            font-size: 16px;
            color: #7a838e;
            padding-left: 7px;
            margin: 0;
        }
        .widget-statistic ul li{
            display: block;
        }
        .widget-statistic ul li span{
            font-weight: 700;
            font-size: 36px;
            line-height: 30px;
            display: block;
            color: #2c3e50;
            padding-top: 16px;
        }
        .widget-statistic ul li.questions-count {
            border-left: 4px solid #3498db;
            margin-bottom: 30px;
            line-height:.6;
        }
        .widget-statistic ul li.members-count {
            border-left: 4px solid #f39c12;
            line-height: .6;
        }
        .widget-related-tags,
        .widget-hot-questions,
        .widget-statistic,
        .user-widget {
            padding: 0 20px;
        }
        .widget-related-tags h3,
        .widget-hot-questions h3,
        .user-widget h3 {
            color: #2c3e50;
            font-weight: 700;
            font-size: 14px;
            border-bottom: 1px solid #dadfea;
            padding-bottom:10px;
            margin-bottom: 15px;
        }
        .widget-related-tags li {
            /*height: 30px;*/
            display: block;
            margin-bottom: 5px;
        }
        .widget-related-tags li a,
        .q-tag{
            border: 1px solid #d9dfe9; /* stroke */
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px; /* border radius */
            background-color: #f3f5f9; /* layer fill content */
            text-decoration: none;
            color: #6f7d95;
            line-height: 20px;
            display: inline-block;
            padding: 0 10px;
            margin-right:5px;
        }
        .widget-hot-questions ul li {
            margin-bottom: 10px;
            min-height: 35px;
            word-wrap: break-word;
        }
        .widget-hot-questions ul li a {
            text-decoration: none;
        }
        .widget-hot-questions ul li span.topic-avatar img {
            width: 16px;
            height: auto;
            border-radius: 50%;
            -moz-border-radius: 50%;
            -webkit-border-radius: 50%;
        }
        .widget-hot-questions ul li span.topic-avatar {
            float: left;
            margin-right: 15px;
        }
        .widget-hot-questions ul li span.topic-title {
            display:block;
            overflow:hidden;
            line-height: 1.3;
            word-wrap: break-word;
        }
        /* ======= WIDGET LATEST ANSWERS ======= */
        .widget-latest-answers li {
            margin-bottom: 15px !important;
        }
        
        .widget-latest-answers .fa {
            position: relative;
            top: -4px;
            margin-right: 5px;
            font-size: 0.7em;
        }
        
        .widget-latest-answers .topic-answer-content {
            /*margin-left: 30px;*/
            margin-top: 5px;
        }
        
        .widget-latest-answers .latest-answer-date {
            font-size: .9em;
            display: block;
            /*margin-left: 30px;*/
        }
        
        .widget-latest-answers .latest-answer-date a {
            font-size: .9em;
            color: inherit;
        }
        
        .widget-latest-answers .topic-answer-readmore {
            font-size: .9em;
            margin-left: 10px;
        }
        /* ======= end: WIDGET LATEST ANSWERS ======= */
        .right-sidebar .widget {
            margin-top: 35px;
        }
        body.blog .right-sidebar .widget {
            margin-top: 0;
        }
        body.single-question .form-reply{
            padding-bottom: 10px;
        }
        .left-sidebar li.widget,.right-sidebar li.widget{
            list-style: none;
            /* padding-left: 20px; */
            padding: 15px;
        }
        .widget-menus {
            /*padding-bottom:15px;*/
        }
        .widget-links {
            padding: 20px;
        }
        .widget-menus ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        .widget-menus ul li {
            position: relative;
        }
        .widget-menus ul li > i {
            position: absolute;
            top:14px;
            left: 5px;
        }
        .widget-menus ul li > i.fa-chevron-circle-down {
            display: none;
        }

.widget-links ul li,
.widget-menus ul li {
	display: block;
}
.widget-links ul li {
	margin-bottom: 10px;
	font-size: 14px;
}
.widget-links ul li i {
	margin-right: 13px;
	color: #78829d;
}
.widget a{
	text-decoration: none;
	color: #15a3f9; /* text color */
	font-size: 14px;
	word-break: break-word;
}
.widget-menus a {
	width: 100%;
	text-decoration: none;
	padding: 10px 0 10px 16px;
	display: block;
	color: #78829d;
	border-left: 4px solid transparent;
	/*TRANSISTIONS*/
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}
.widget-menus ul li a:hover,
.widget-menus ul li.current-menu-item > a {
	border-left: 4px solid #f39c12;
	background: #f0f0f0;
}
.widget-menus ul li a:hover {
	/*border-top: 1px solid #fff;*/
}
.widget-menus ul li a i{
	margin-right: 13px;
}
.widget-recent-activity {
	padding: 20px;
	border-bottom: 0;
	padding-bottom: 0;
}
.widget-recent-activity ul li i {
	margin-right: 13px;
	float: left;
	font-size: 16px;
	margin-top: 3px;
}
.widget-recent-activity ul li span {
	display: inline-block;
	width: 70%;
}
.widget-recent-activity ul li span span.time-activity{
	display:block;
	margin-top:5px;
	color: #77819d;
	font-size: 12px;
}
.widget-recent-activity ul li {
	margin-bottom: 20px;
	word-wrap: break-word;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color:    #8b97b1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #8b97b1;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #8b97b1;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #8b97b1;
}
body {
	color: #6f7d95;
	font-size: 13px;

}
p {
	word-wrap: break-word;
}
a {
	outline: none;
	text-decoration: none !important;
	color: #15a4fa
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
.padding-right-0{
	padding-right:0 !important;
}
.padding-left-0{
	padding-left:0 !important;
}
.padding-0{
	padding:0 !important;
}
.text-center{
	text-align:center !important;
}
.text-left{
	text-align:left !important;
}
.text-right{
	text-align:right !important;
}
.float-none{
	float:none !important;
}
.float-right{
	float:right !important;
}
.float-left{
	float:left !important;
}
.container-fluid > .row {
	overflow: hidden;
}


/* ---------------------------------------- */
/* M A I N  C O N T E N T  S T Y L E        */
/* ---------------------------------------- */
.left-sidebar {
	border-right: 1px solid #dadfea;
	min-height: 800px;
	padding: 0;
}
.left-sidebar ul.menu li:before {
	content: "";
}

.left-sidebar li.widget h2 {
	margin-top: 0;
	font-size: 18px;
	color: #2c3e50;
}
.left-sidebar .widget {
	border-bottom: 1px solid #dadfea;
	/*padding-left: 20px;*/
}
.widget-btn {
	height: 115px;
	display: block;
	padding:35px 20px 0;
}
.ask-question,
.contact-block button,
#run_pump_setup{
	width: 100%;
	height: 45px;
	border: none;
	color: #fff;
	margin-top: 30px;
	margin: 0 auto;
	display: block;
	font-weight: 700;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* border radius */
	background-color: #3397db; /* layer fill content */
}
#run_pump_setup {
	width: auto;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	text-transform: uppercase;
}
.ask-question i,
#run_pump_setup i{
	margin-right: 5px;
	font-size: 16px;
}
.contact-block button {
	width: 66px;
	height: 26px;
}

.copyright {
	padding: 20px;
	position: relative;
	bottom: 0;
}
/* ==== Widget Top Users ==== */
.hot-user-question ul {

}
.hot-user-question ul li {
	margin-bottom: 5px;
}
.hot-user-question ul li .number{
	background: #3498db;
	color: #fff;
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	-ms-border-radius: 50%;
	width: 15px;
	height: 15px;
	display: inline-block;
	text-align: center;
	line-height: 15px;
	font-size: 10px;
}
.hot-user-question ul li .username{
	display: inline-block;
	width: 65%;
	vertical-align: middle;
}
.hot-user-question ul li .username.latest{
	max-width: 90%;
	width: auto;
}
.hot-user-question ul li .username a {
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	line-height: 1.5;
	/*font-size: 12px;*/
	color: #2c3e50;
}
.hot-user-question ul li .username a:hover {
	color: #15a4fa;
}
.hot-user-question ul li .questions-count,
.hot-user-question ul li .answers-count,
.hot-user-question ul li .points-count {
	display: inline-block;
	margin-right: 4px;
	/*font-size: 12px;*/
}
.hot-user-question ul li .questions-count span,
.hot-user-question ul li .answers-count span,
.hot-user-question ul li .points-count span {
	min-width: 24px;
	display: inline-block;
}
/* ======================================= */

/* ======================================= */
.main-content {
	min-height: 800px;
	padding: 0;
}
.main-content > .row {
	margin: 0;
}
.main-blog-fix > .row{
	margin-left: -30px;
	margin-right: -30px;
}
.select-category {
	border-bottom: 1px solid #dadfea;
	margin: 0;
}
.current-category span,
.q-filter-waypoints .q-f-title {
	font-size: 22px;
	color: #2c3e50;
	display: block;
	margin-top: 20px;
	margin-left: 5px;
}
.current-category, .select-categories-wrapper {
	min-height: 69px;
}
.select-categories-wrapper .select-categories{
	width: 228px;
	right: 5px;
	position:absolute;
	/*border: 1px solid #d1d5e0;*/
	/* -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px; */
}
.select-categories-wrapper .select-categories .select-grey-bg {
	border: 0 !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: "";
	cursor: pointer;
	color: #8b97b1;
	width: 100%;
	padding: 7px 10px;
	background: #f4f5f9 ;
	background-image:none;
}
.input-find-tags:before {
	content: "";
}
.question-filter {
	border-bottom: 1px solid #dadfea;
}
.sort-questions {
	min-height: 44px;
}
.sort-questions ul,
ul.q-f-sort {
	display: block;
	padding-left: 5px;
}
.sort-questions ul li,
ul.q-f-sort li {
	display: inline-block;
	margin-right: 40px;
}
.sort-questions ul li:last-child,
ul.q-f-sort li:last-child {
	margin-right: 0;
}
.sort-questions ul li a,
ul.q-f-sort li a {
	font-size: 14px;
	color: #8c97b2;
	text-decoration: none;
	display: block;
	line-height: 40px;
	border-bottom: 4px solid transparent;
	/*TRANSISTIONS*/
	-webkit-transition: all 0.3s ease;
	   -moz-transition: all 0.3s ease;
	     -o-transition: all 0.3s ease;
	    -ms-transition: all 0.3s ease;
	        transition: all 0.3s ease;
}
.sort-questions ul li a.active,
.sort-questions ul li a:hover,
ul.q-f-sort li a.active,
ul.q-f-sort li a:hover {
	border-bottom: 4px solid #f39c12;
}
.number-of-questions-wrapper {
	text-align: right;
	/*margin-right: 5px;*/
	margin-top: 7px;
	position:relative;
}
.number-of-questions-text{
	color: #8b97b1;
	display:inline-block;
	vertical-align: top;
	padding-top: 7px;
	margin-right:10px;
}
.number-of-questions-wrapper .number-of-questions {
	display:inline-block;
	width: 80px;
	text-align: left;
}
.number-of-questions-wrapper .number-of-questions .chosen-container-single .chosen-single {
	height: 30px;
	padding-left: 22px;
}
.number-of-questions-wrapper .number-of-questions .chosen-container .chosen-results li {
	padding-left: 18px;
}
.number-of-questions-wrapper .number-of-questions .chosen-container-single .chosen-single span {
	line-height: 28px;
}
/* .number-of-questions-wrapper .number-of-questions:before{
	font-family:'FontAwesome';
	content:"\f0d7";
	position:absolute;
	right: 15px;
	top: 5px;
	z-index:999;
	color: #8b97b1;
} */
.number-of-questions-wrapper .number-of-questions select{
	border: 0 !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: "";
	cursor: pointer;
	color: #8b97b1;
	width: 100%;
	padding: 4px 10px;
	background: #f4f5f9 ;
	background-image:none;
}
#main_questions_list li.question-item {
	display: block;
	/*min-height: 130px;*/
	border-bottom: 1px solid #dadfea;
	/*overflow: hidden;*/
	padding:20px 35px;
	position: relative;
}

#main_questions_list > li:nth-child(2n+1) {
	background: #fbfcff;
}
#main_questions_list h2 {
	/*width: 50%;*/
	/*cuong*/
	width: 100%;
	margin: 50px auto;
}
.highlight {
	background: #fbfcff;
}
.main-questions-list .q-ltop-content > h2{
	margin: 0 !important;
	font-size: 16px;
	word-wrap: break-word;
}
.main-questions-list .q-ltop-content a.question-title {
	
	color: #444c63;
	font-size: 16px;
	font-weight: 700;
	word-break: break-word;
}
.main-questions-list .q-lbtm-content .question-excerpt {
	color: #6f7d95;
	font-size: 14px;
}
.question-cat span{
	display: inline-block;
	vertical-align: middle;
}
.author-name{
	margin: 0 15px;
	color: #6f7d95;
}
.question-cat span.author-avatar{
	max-width: 30px;
	margin-right: 8px;
}
.question-cat span.author-avatar img{
	max-width: 100%;
	height: auto;
}
.question-cat span.user-badge{
	padding:0 10px;
	color: #fff;
	/*margin-left: 10px;*/
	margin-right: 15px;
	line-height: 20px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px; /* border radius */
	background-color: #00adef; /* layer fill content */

}
.contact-block {
	float: left;
	clear: both;
	width: 80px;
	text-align: center;
}
.contact-block button {
	margin-top: 8px;
}
ul.question-tags {
	display: inline-block;
	margin-bottom: 10px;
}
ul.question-tags li{
	margin: 10px 8px 10px 0;
	margin-bottom: 10px;
	display: inline-block;
}
.type-question ul.question-tags li{
	margin: 10px 5px 10px 0;
}
.main-questions-list .question-excerpt {
	margin-top: 5px;
	margin-bottom: 10px;
}
.main-questions-list .q-left-content {
	padding: 0;
}
.main-questions-list .q-right-content {
	padding: 0;
	text-align: center;
}
.main-questions-list .q-right-content .pumping{
	float: right;
	margin-top: 30px;
}
.main-questions-list .q-right-content .pumping span.btn-pump, .main-questions-list .q-right-content .pumping span.btn-time{
	padding: 11px 20px;
	color: #fff;
	font-size: 13px;
	border-radius: 4px;
}
.main-questions-list .q-right-content .pumping span.btn-pump{
	background: #3498db;
	cursor: pointer;
}
.main-questions-list .q-right-content .pumping span.btn-time{
	background: #afb0b3;
}
.main-questions-list .q-right-content .pumping span.btn-pump i, .main-questions-list .q-right-content .pumping span.btn-time i{
	padding-right: 6px;
	display: inline;
}
.main-questions-list ul.question-statistic{
	text-align:right;
}
.main-questions-list ul.question-statistic li {
	display: inline-block;
	text-align: center;
	margin-left: 35px;
}
.main-questions-list ul.question-statistic li span {
	width: 46px;
	height: 46px;
	display: block;
	text-align: center;
	line-height: 3.3;
	margin-bottom: 15px;
	border: 1px solid #d9dfe9; /* stroke */
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius:50%; /* border radius */

}

.main-questions-list ul.question-statistic li.active span {
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	border-radius: 22px;
	background-color: #1abc9c;
	color: #fff;
	border: none;
}

.title-answer-style{
	margin-bottom: 10px;
}
.quote-answer-style{
	padding-left:15px;
	border-left:4px solid #77819d;
	margin-top: 25px;
	margin-left: 40px;
}
.quote-answer-style img {
	max-width: 100%;
	height: auto;
}
.quote-answer-style p{
	color: #6f7d95;
	font-size: 14px;
	display:inline-block;
}
.quote-answer-style .alert-stt-answer-style{
	color: #6f7d95;
	font-size: 12px;
}
.quote-answer-style .alert-stt-answer-style a{
	color:#3498db;
}
.quote-answer-style .alert-stt-answer-style i{
	font-size: 25px;
	color: #1abc9c;
	display: inline-block;
	margin-right: 7px;
	vertical-align: middle;
}
.icon-quote{
	width:17px;
	height:17px;
	display:inline-block;
	margin-right:10px;
}
@media (max-width:1199px){
	.header-avatar ul li{
		margin-right:10px;
	}
	.ask-question{
		font-size:12px;
	}
	.ask-question i{
		font-size:10px;
	}
	.main-questions-list ul.question-statistic li{
		margin-right:10px;
	}
	#header_search input {
		width: 200px;
	}
	#header_search:hover input {
		width: 230px;
	}
	.select-answer .option-answer .form-option-answer{
		padding-left: 20px !important;
	}
	.btn-submit-answer{
		margin-left: 50px !important;
	}
	.user-info{
		padding-left: 20px;
	}
	.header-avatar .dropdown-account span {
		margin-right: 10px;
	}
}
@media (max-width:1025px){
	#header_search input {
		width: 180px;
	}
	#header_search:hover input {
		width: 200px;
	}
	.answer-percent-area{
		margin-top: 120px !important;
	}
	.donut-chart .total-vote {
		bottom: 0px !important;
		transform: translate(-65%, -50%) !important;
		-webkit-transform: translate(-65%, -50%) !important;
		-moz-transform: translate(-65%, -50%) !important;
	}
}
@media (max-width:996px){
	.header-avatar span.display_name{
		display:none;
	}
	.header-avatar ul li{
		margin-right:3px;
	}
	.header-avatar {
		padding:0 5px;
	}

	.buttonset{
		display:block !important;
	}
	.blog-classic-wrapper {
		width: 700px !important;
	}
	ul.q-f-sort li {
		margin-right: 9px;
	}
	.q-filter-waypoints .q-f-title {
		font-size: 14px;
	}
	.main-questions-list ul.question-statistic li{
		margin-right:5px;
		margin-left: 15px;
	}
	.header-avatar .dropdown-account {
		margin-top: 25px;
		margin-left: 20px;
	}
	.header-search-wrapper{
		width: 93%;
	}
	.buttonset{
		float: right;
	}
	#header_search{
		float: left;
		position: relative;
	}
	.main-content{
		width: 100%;
	}
	.user-info{
		padding-left: 20px;
	}
}

@media (max-width:769px){
	.answers-filter.stuck-sticky {
		border-bottom:1px solid #dadfea;
		background: #fff;
	}
	.answers-filter.stuck-sticky .max-col-md-8 {
		width: 100%;
		border:0;
	}
	.blog-classic-wrapper {
		width: 500px !important;
	}
	.header-avatar .dropdown-account{
		margin-left: 5px;
	}
	.main-questions-list ul.question-statistic li{
		margin-right:5px;
		margin-left: 5px;
	}
}
@media (max-width:996px){
	.header-menu{
		display: none;
	}
	.buttonset #showTop 
	{
		display: block;
	}
	body.admin-bar .q-filter-waypoints {
		top: 46px;
	}

}
@media (max-width:640px){
	.disable-mobile-search{
		display: none !important; 
	}
}

@media (max-width:996px){
	.header-avatar span.display_name{
		display:none;
	}
	.header-avatar ul li{
		margin-right:3px;
	}
	.header-avatar {
		padding:0 5px;
	}
	.disable-mobile{
		display:none !important;
	}
	.buttonset{
		display:block !important;
	}
	.blog-classic-wrapper {
		width: 700px !important;
	}
	ul.q-f-sort li {
		margin-right: 9px;
	}
	.q-filter-waypoints .q-f-title {
		font-size: 14px;
	}
	.main-questions-list ul.question-statistic li{
		margin-right:5px;
		margin-left: 15px;
	}
	.header-avatar .dropdown-account {
		margin-top: 25px;
		margin-left: 20px;
	}
	.header-search-wrapper{
		width: 93%;
	}
	.buttonset{
		float: right;
	}
	#header_search{
		float: left;
		position: relative;
	}
	.main-content{
		width: 100%;
	}
	.user-info{
		padding-left: 20px;
	}
}

@media (max-width:600px){
	.header-avatar .dropdown-account span {
		margin-right: 0px;
	}
	#wpadminbar{
		margin-top: -46px !important;
	}
}

@media (max-width:1520px){
	/*.user-info, .user-post-count{
		width: 100%;
	}*/
	/* .user-post-count{
		border-top: 1px solid #dddddd;
		margin-top: 20px;
	} */
}
@media (max-width:1283px){
	.social-links ul li {
		margin-top: 10px;
	}
	/*.user-post-count{
		width: 100%;
	}*/
}
@media (max-width:1250px){
	.q-filter-waypoints .q-f-title{
		margin-top: 10px;
		font-size: 15px;
	}
	ul.q-f-sort li{
		margin-right:15px;
	}
	.q-filter-waypoints .select-categories-wrapper{
		width:180px;
	}
	.select-categories-wrapper .select-categories{
		width:155px;
	}
	.main-questions-list ul.question-statistic li{
		margin-left:25px;
	}
}
            
       
    }
}