.box{
    
}

table {
    width: 100%;
  }


.checkinBtn{
    position: absolute;
    right: 1px;
    bottom:1px;
    padding:1px 1px;
    width: 100px;
    height:100px;
    background-color: green;
}