<div id="verifyForgotPassword" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="verifyForgotPassword-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="~/../../../../../../assets/images/logos/logoYatay.png">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Mirapi .NET CORE
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Basitçe kayıt olup operasyonlarınızı yönetebilirsiniz.
        </div>

    </div>

    <div id="verifyForgotPassword-form-wrapper" fusePerfectScrollbar
        [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="verifyForgotPassword-form">

            <div class="title">ŞİFRE YENİLE</div>

            <form #forgetPasswordForm="ngForm" (ngSubmit)="verifyForgotPassword()">

                <mat-form-field>
                    <input type="password" matInput id="password" name="password" placeholder="Şifre"
                        class="form-control" required ngModel #password="ngModel" [(ngModel)]="sifre"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" />
                    <mat-error *ngIf="password.hasError('required')">
                        Şifre gerekli
                    </mat-error>
                    <mat-error *ngIf="password.hasError('pattern')">
                        Şifre standartlara uymalıdır(En az 6 karekter,bir sayı,bir büyük,bir küçük harf içermelidir)

                    </mat-error>
                </mat-form-field>
              

                <mat-form-field id="confirmPasswordInput">
                    <input matInput type="password" id="confirmPassword" name="confirmPassword"
                        placeholder="Şifre (Doğrula)" required ngModel #confirmPassword="ngModel"
                        pattern="{{password.value}}">
                    <mat-error *ngIf="confirmPassword.hasError('required')">
                        Şifre doğrulaması gerekli
                    </mat-error>
                    <mat-error *ngIf="confirmPassword.hasError('pattern')">
                        Şifreler uyuşmuyor :(
                    </mat-error>
                </mat-form-field>


                <button mat-raised-button color="accent" type="submit" class="submit-button"
                    aria-label="CREATE AN ACCOUNT" [disabled]="forgetPasswordForm.invalid ||isSubmitClicked">
                    ŞİFRE OLUŞTUR
                </button>
            </form>
        </div>
    </div>
</div>