<div class="w-50">

    <div class="p-24 " fxLayout="column" fxLayoutAlign="center stretch">

        <div class="mat-card p-24 px-24 mb-24"  *ngFor="let item of myAnswer"   fxLayout.xs="column" fxLayout.sm="column"   fxLayout="row" fxLayoutAlign="space-between center">

            <div fxLayout="column" class="w-70-p" fxLayoutAlign="center stretch">

                <div fxLayout="row" fxLayoutAlign="space-between center">
                    <a class="h2 mb-24 border-bottom"  [routerLink]="'/questions/'+item.Id" >{{item.title}}</a>

                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <button mat-icon-button class="primary"
                        (click)="show(item)">
                        <mat-icon>pageview</mat-icon>
                        
                    </button>
                    <button *ngIf="userLoggedIn.Id==item.user.Id" mat-icon-button class="warn"
                        (click)="deletePost(item)">
                        <mat-icon>delete</mat-icon>
                        
                    </button>
                    <button *ngIf="userLoggedIn.Id==item.user.Id" mat-icon-button class="blue" 
                    [routerLink]="['/update-question/'+ item.Id]" >
                        <mat-icon>edit</mat-icon>  
                    </button>
                </div>
                </div>

                <div *ngIf="!isEditing" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <p [innerHTML]="item.message" class="pt-16 ">
                      
                    </p>
                </div>

                <form *ngIf="isEditing" fxFlex>
                    <textarea placeholder="Add a comment..." [(ngModel)]="item.message" name="answer"></textarea>
                    <button mat-raised-button color="accent" class="post-comment-button" (click)="update(item)" aria-label="Post Comment">
                        Güncelle
                    </button>
                </form>

                <div>
                    <mat-chip-list >
                        <mat-chip class="green-50-bg" *ngFor="let tag of item.categories" [removable]="false">
                            <mat-icon>{{tag.category.iconName}}</mat-icon>
                            {{tag.category.name}}
                        </mat-chip>
                    </mat-chip-list>

                </div>
                <div fxLayout="row" fxLayoutAlign="start center">
                    <img  src="{{item.user.photo?.path}}" class="avatar"/>
                    <div>
                        <p class="pt-16 ">
                            {{item.user.Name}}
                        </p>
                    </div>
                </div>
            </div>
            <div fxLayout="row" class="w-30-p" fxLayoutAlign="center center">

                <div class="mirapi-widget-front p-12">
                    <div class="pt-8 pb-32 border-bottom" fxLayout="column" fxLayoutAlign="center center">
                        <div class="blue-800-fg font-size-72 line-height-72">
                            {{item.view}}
                        </div>
                        <div class="h3 secondary-text font-weight-500">Görüntüleme
                        </div>
                    </div>
                </div>
                <div class="mirapi-widget-front p-12">
                    <div class="pt-8 pb-32 border-bottom" fxLayout="column" fxLayoutAlign="center center">
                        <div class="grey-700-fg font-size-72 line-height-72">
                            {{item.answer}}
                        </div>
                        <div class="h3 secondary-text font-weight-500">Cevap
                        </div>
                    </div>
                </div>
                <div class="mirapi-widget-front p-12">
                    <div class="pt-8 pb-32 border-bottom" fxLayout="column" fxLayoutAlign="center center">
                        <div class="orange-800-fg font-size-72 line-height-72">
                            {{item.vote}}
                        </div>
                        <div class="h3 secondary-text font-weight-500">Oy
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="mat-card p-24 px-24 mb-24"    [routerLink]="['/questions']" *ngIf="myAnswer?.length<1"  >
            <p>
                Henüz bir cevap yazmadınız. Hemen gönderileri inceleyip bir cevap verebilirsiniz.
            </p>
        </div>
    </div>
</div>