<div id="profile" class="page-layout simple tabbed">
        <input #fileUpload type="file"
        id="file" hidden="true"
        accept="image/*"
        (change)="uploadProfileImage($event.target.files)"
        >
    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
         fxLayoutAlign.gt-sm="space-between end">

         <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
             fxLayoutAlign.gt-sm="start center">
                 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                 <ul class="xop-grid">
                    <li>
                         <div class="xop-box xop-img-1" *ngIf="profileImage" [ngStyle]="{'background': 'url(' + profileImage + ') no-repeat 0 0 / cover'}">
                            <a href="#">
                            </a>
                             <div class="overlay" (click)="fileUpload.click()">
                             
                               <span class='icon'>+</span>
                             </div>
                          </div>
                          <div class="xop-box xop-img-1" *ngIf="!profileImage">
                              
                            <a href="#">
                            </a>
                             <div class="overlay" (click)="fileUpload.click()">
                               <span class='icon'>+</span>
                             </div>

                          </div>
                     </li>
                 </ul>
            
           
            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">{{name}}
            </div>
        </div>


    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <mat-tab label="Hakkımda">
                <profile-about></profile-about>
            </mat-tab>


        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>
